@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

@layer base {
    h1 {
        @apply font-serif text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    h2 {
        @apply font-serif text-3xl font-semibold tracking-tight;
    }

    h3 {
        @apply font-serif text-2xl font-semibold tracking-tight;
    }

    h4 {
        @apply text-xl font-semibold tracking-tight;
    }
    dt {
        @apply font-serif font-semibold tracking-tight;
    }

    dd,
    p {
        @apply leading-relaxed font-medium text-gray-700;
    }

    blockquote {
        @apply mt-6 border-l-2 pl-6 italic;
    }
}
