name: Lint Files
run-name: Lint files using Biome
on:
  pull_request:
    branches:
      - main
permissions:
  contents: write
  statuses: write
  actions: write
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Lint files
        run: pnpm run lint
